<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebForum</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPodforumaServlet</display-name>
    <servlet-name>ListaPodforumaServlet</servlet-name>
    <servlet-class>servlets.ListaPodforumaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPodforumaServlet</servlet-name>
    <url-pattern>/ListaPodforuma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaTemaServlet</display-name>
    <servlet-name>ListaTemaServlet</servlet-name>
    <servlet-class>servlets.ListaTemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaTemaServlet</servlet-name>
    <url-pattern>/ListaTema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpisKomentarServlet</display-name>
    <servlet-name>UpisKomentarServlet</servlet-name>
    <servlet-class>servlets.UpisKomentarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpisKomentarServlet</servlet-name>
    <url-pattern>/UpisKomentar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaKomentaraServlet</display-name>
    <servlet-name>ListaKomentaraServlet</servlet-name>
    <servlet-class>servlets.ListaKomentaraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaKomentaraServlet</servlet-name>
    <url-pattern>/ListaKomentara</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NovPodforumServlet</display-name>
    <servlet-name>NovPodforumServlet</servlet-name>
    <servlet-class>servlets.NovPodforumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovPodforumServlet</servlet-name>
    <url-pattern>/NovPodforum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpisPodforum</display-name>
    <servlet-name>UpisPodforum</servlet-name>
    <servlet-class>servlets.UpisPodforum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpisPodforum</servlet-name>
    <url-pattern>/Upis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpisTemeServlet</display-name>
    <servlet-name>UpisTemeServlet</servlet-name>
    <servlet-class>servlets.UpisTemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpisTemeServlet</servlet-name>
    <url-pattern>/UpisTeme1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpisTemeServlet2</display-name>
    <servlet-name>UpisTemeServlet2</servlet-name>
    <servlet-class>servlets.UpisTemeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpisTemeServlet2</servlet-name>
    <url-pattern>/UpisTeme2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GlasoviTemaServlet</display-name>
    <servlet-name>GlasoviTemaServlet</servlet-name>
    <servlet-class>servlets.GlasoviTemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GlasoviTemaServlet</servlet-name>
    <url-pattern>/GlasoviTema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaKorisnikaServlet</display-name>
    <servlet-name>ListaKorisnikaServlet</servlet-name>
    <servlet-class>servlets.ListaKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaKorisnikaServlet</servlet-name>
    <url-pattern>/ListaKorisnika</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpisKorisnikServlet</display-name>
    <servlet-name>UpisKorisnikServlet</servlet-name>
    <servlet-class>servlets.UpisKorisnikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpisKorisnikServlet</servlet-name>
    <url-pattern>/UpisKorisnik</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpisKomentaraServlet</display-name>
    <servlet-name>UpisKomentaraServlet</servlet-name>
    <servlet-class>servlets.UpisKomentaraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpisKomentaraServlet</servlet-name>
    <url-pattern>/UpisKomentara</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateTable</servlet-name>
    <servlet-class>servlets.PopulateTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateTable</servlet-name>
    <url-pattern>/PopulateTable/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>svi</servlet-name>
    <servlet-class>servlets.svi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svi</servlet-name>
    <url-pattern>/svi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GlasoviPozitivniKomentar</servlet-name>
    <servlet-class>servlets.GlasoviPozitivniKomentar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GlasoviPozitivniKomentar</servlet-name>
    <url-pattern>/GlasoviPozitivniKomentar/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GlasoviNegativniKomentar</servlet-name>
    <servlet-class>servlets.GlasoviNegativniKomentar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GlasoviNegativniKomentar</servlet-name>
    <url-pattern>/GlasoviNegativniKomentar/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePodforumServlet</servlet-name>
    <servlet-class>servlets.DeletePodforumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePodforumServlet</servlet-name>
    <url-pattern>/DeletePodforum/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTemaServlet</servlet-name>
    <servlet-class>servlets.DeleteTemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTemaServlet</servlet-name>
    <url-pattern>/DeleteTema/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IzmenaTemaServlet</servlet-name>
    <servlet-class>servlets.IzmenaTemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmenaTemaServlet</servlet-name>
    <url-pattern>/IzmenaTema/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IzmenaKorisnikaServlet</servlet-name>
    <servlet-class>servlets.IzmenaKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmenaKorisnikaServlet</servlet-name>
    <url-pattern>/IzmenaKorisnika/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SacuvajIzmeneTemaServlet</servlet-name>
    <servlet-class>servlets.SacuvajIzmeneTemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajIzmeneTemaServlet</servlet-name>
    <url-pattern>/SacuvajIzmeneTema/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SacuvajIzmeneKorisnik</servlet-name>
    <servlet-class>servlets.SacuvajIzmeneKorisnik</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajIzmeneKorisnik</servlet-name>
    <url-pattern>/SacuvajIzmeneKorisnik/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SacuvajTemaServlet</servlet-name>
    <servlet-class>servlets.SacuvajTemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajTemaServlet</servlet-name>
    <url-pattern>/SacuvajTema/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SacuvajPodforumServlet</servlet-name>
    <servlet-class>servlets.SacuvajPodforumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajPodforumServlet</servlet-name>
    <url-pattern>/SacuvajPodforum/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SacuvajKomentarServlet</servlet-name>
    <servlet-class>servlets.SacuvajKomentarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajKomentarServlet</servlet-name>
    <url-pattern>/SacuvajKomentar/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SacuvajIzmeneKomentarServlet</servlet-name>
    <servlet-class>servlets.SacuvajIzmeneKomentarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajIzmeneKomentarServlet</servlet-name>
    <url-pattern>/SacuvajIzmeneKomentar/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilServlet</servlet-name>
    <servlet-class>servlets.ProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilServlet</servlet-name>
    <url-pattern>/ProfilServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KorisnikServlet</servlet-name>
    <servlet-class>servlets.KorisnikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikServlet</servlet-name>
    <url-pattern>/Korisnik/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListaKomentaraBrisanjeServlet</servlet-name>
    <servlet-class>servlets.ListaKomentaraBrisanjeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaKomentaraBrisanjeServlet</servlet-name>
    <url-pattern>/ListaKomentaraBrisanje/*</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ObrisatiKomentarServlet</servlet-name>
    <servlet-class>servlets.ObrisatiKomentarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisatiKomentarServlet</servlet-name>
    <url-pattern>/ObrisatiKomentar/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>